html {
	scroll-behavior: smooth;
}


.intro {
  font-size: 140px;
  text-align: center;
  color: #AA1111;
}

.intro1 {
  font-size: 130px;
}

.content-section {
  min-height: 2000px;
}

.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.stickykagirl {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}


/*@media screen and (max-width: 768px) {
  .sidebar-item {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar-item a, .sidebar-item img {float: left;}
  .col-11 {margin-left: 0;}
}*/





body {
  
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}

.overlay {
  opacity: 0;
  transition: .5s ease;
  /*color: black;*/
}

.r1:hover .overlay {
  opacity: 1;
  text-decoration: none;

}

.text {
background-color: black;
border-radius: 50px;
color: white;
/*font-size: 20px;*/
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
/*text-align: center;*/
}

.stickysidebar {
  background-color: black;

}

.col-11 {
  background-color: rgba(128,128,128,0.1);
  border-radius: 20px;
  color: rgb(170, 17, 17);

}

a {
  color: white;
}

.headings {
  background-color: #AA1111;
}